<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Instamojo.HttpApi.Host.dll" stdoutLogEnabled="false" stdoutLogFile=".\Logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
	<!--<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="connectionTimeout" value="360000" />
			<add name="requestRetries" value="1" />
			<add name="clientId" value="AVKol3yBcBDTDmOW_X7ujaTATSVjDt5npYOgwcnQN23uFieBKTAP-jJuwO_CGW3hSu-WbyJzM9pAzoP_" />
			<add name="clientSecret" value="ECO-4Z_d6dsjAYtGAuTzYoYJI-QKjy53o99tJ3cXPjFF1Pod2yNiNlVkb1S2GSH46xJj1eYckNPdM9zw" />
		</settings>
	</paypal>-->
</configuration>

